In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import string
import re

In [3]:
import nltk
from nltk.corpus import stopwords
import os
import warnings
warnings.filterwarnings("ignore")

In [5]:
train_twitter=pd.read_csv('C:/Users/ASHUTOSH/Downloads/train.csv')

In [6]:
test_twitter=pd.read_csv('C:/Users/ASHUTOSH/Downloads/test_tweets.csv')

In [7]:
train_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 624.3+ KB

In [8]:
test_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 201.6+ KB

In [9]:
train_twitter.dropna(inplace=True)

In [10]:
train_twitter.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [11]:
train_twitter.describe()

                 id         label
count  31962.000000  31962.000000
mean   15981.500000      0.070146
std     9226.778988      0.255397
min        1.000000      0.000000
25%     7991.250000      0.000000
50%    15981.500000      0.000000
75%    23971.750000      0.000000
max    31962.000000      1.000000

In [14]:
temp1=train_twitter.groupby('tweet').count()

In [15]:
print('temp1')

temp1

In [ ]:
plt.figure(figsize=(15,9))
sns.countplot(x='tweet',data=train_twitter)